<!-- start custom comments snippet -->

<script src="https://giscus.app/client.js"
        data-repo="mertbozkir/mertbozkir.github.io"
        data-repo-id="R_kgDOHTQb7A"
        data-category="General"
        data-category-id="DIC_kwDOHTQb7M4CPACd"
        data-mapping="title"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>

<!-- end custom comments snippet -->
